html{
    background: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 0 0;
}
.logo h1{
    margin-left: 100px;
    margin-top: 0;
    padding-top: 10px;
}
h1{
    color: white;
}
h2{
    color: white;
}

.hero .gs{
    margin-top: 50px;
    margin-left: 300px;
    color: #004EFF;
    font-size: 20px;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 45px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
}
.gs a{
    text-decoration: none; 
    vertical-align: middle;
}
.hero{
    padding-top: 100px;
    width: 60vw;
    text-align: center;
}
.hero img{
    opacity: 1;
    z-index: -1;
    position: absolute;
    max-width: 350px;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}
.hero h2{
    font-size: 30px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 0px; 
}
.illu{
    width: 40vw;
}
#img1{
    top: 45%;
    left: 5%;
}
#img2{
    top: 25%;
    left: 7%;
    z-index: -2;
}
#img3{
    top: 50%;
    left: 20%;
}
#img4{
    top: 10%;
    left: 27%;
}
#img5{
    top: 30%;
    left: 40%;
}
#illus2{
    max-width: 400px;
    position: absolute;
    right: 8vw;
    top: 20vh;
}
#illus1{
    max-width: 500px;
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}